<p>Ol&aacute;! Temos &oacute;timas not&iacute;cias para voc&ecirc;!</p>
</br>
<p>Sua renova&ccedil;&atilde;o de assinatura VPink est&aacute; aprovada! A partir de hoje voc&ecirc; continua a fazer parte da nova gera&ccedil;&atilde;o de consultoras de Beleza.</p>
</br>
<p>Para acessar o aplicativo, acesse: vpink.vc/app</p>
<p>*Lembramos que para o sistema operacional Android recomendamos utilizar o navegador Chrome.</p>
</br>
<p>Em caso de d&uacute;vidas, basta ligar para o telefone (11) 4063-7650, enviar e-mail para contato@vpink.vc ou acessar nosso chat no site http://vpink.vc</p>
<p>VPink - Independ&ecirc;ncia e Mobilidade para o seu Sucesso."</p>